@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  overflow-x: hidden
  
}

::-webkit-scrollbar {
    width: 5px;
  }

::-webkit-scrollbar-track {
  background: white;
}
::-webkit-scrollbar-thumb {
  background: red;
  heigth: 20px;
}

body {
  overflow: hidden
  
}

.hs {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(6, calc(50% - 40px));
  grid-template-rows: minmax(150px, 1fr);
  color: red;
}