@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  overflow-x: hidden
  
}

::-webkit-scrollbar {
    width: 5px;
  }

::-webkit-scrollbar-track {
  background: white;
}
::-webkit-scrollbar-thumb {
  background: red;
  heigth: 20px;
}

body {
  overflow: hidden
  
}
